{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Author Guidelines - Scholars Middle East Publishers</title>
	{% include 'index/includes.html' %}
</head>
<body>
	<div class="has-padding-bottom-100" >
		<!--HEADER-->
		{% include 'index/header.html' %}
		<div>
			<img src='{% static "media/author-guidelines.jpg" %}' style='width:100% !important'>
		</div>
		<div class='container has-margin-top-50'>
			<div class='columns'>
				<div class='column is-3'>
					{% include 'index/right-bar.html' %}
				</div>
				<div class='column'>
					<section class="container has-padding-40 is-block has-background-white ">
						<p class='is-size-3 has-text-centered'> Instructions for Authors</p><vr><br>
							<div class="container" >
								<p>
									<strong>Language:</strong> Papers are accepted only in English<br><br>



									<strong>Page format:</strong> The manuscripts should be prepared as Microsoft-word documents in Times New Roman (font size 12) on A4 size leaving the margins of 1 inch on all four sides in single column. The line spacing should be single-spaced including references and tables. Tables and Figures should be in their respective position in manuscript with title of Table/Legends of Figure. Articles should be within 30 printable pages. Extra pages will be charged.<br><br>



									<strong>Manuscript:</strong> The manuscript should be in single word file which contains the title page following full manuscript. The title page contains title of the manuscript, all author names and their corresponding affiliations as well as complete mailing address, telephone and E-mail. The designated corresponding author must be identified by an asterisk.<br><br>



									The full length Research Articles should be arranged using the following headings; Abstract, Keywords, Introduction, Experimental section, Results and Discussion, Conclusion, Acknowledgement (optional) and References.<br><br>



									The Review, Short Communications, Essay, Book reviews should follow the standard method as requirement.<br><br>

									<strong>Abstract:</strong>  It should not exceed 250 words in a single paragraph and not required sub-headings and should be a brief summary of the work carried out including the objectives of the study, the techniques used and what was accomplished in a concise manner.<br><br>

									<strong>Keywords:</strong> It should contain up to 6-10 key terms related to the work separated by commas.<br><br>

									<strong>Introduction:</strong> It should represent the background significance, brief survey of the previous works, purpose, scope and novelty of the research work and should not have subheadings.<br><br>

									<strong>Experimental Section/Material and Methods:</strong> Sufficient information in detail regarding the materials and the methods used to carry out the research works (analytical, statistical and experimental procedures) should be mentioned to enable the others to repeat the authors work. Source of chemicals and drugs, animals used, ethical committee permission should be mentioned.<br><br>

									<strong>Results and Discussion:</strong> It should contain summary of the research, results, interpretations, speculations and assessment of future research or prospects.<br><br>

									<strong>Conclusion:</strong> It should include outcome of the work, important findings and your view(s).<br><br>

									<strong>Acknowledgements (if any):</strong> It should have the brief information regarding any research grant support or the assistance of colleagues or institutions.<br><br>

									<strong>References:</strong> They should be arranged at the end of the manuscript in order of their appearance the text. The references should be presented in square bracket in e.g., [1] in the text. They should be arranged at the end of the manuscript in order of their appearance the text.  References should follow the APA Citation Style.<br><br>

									<strong>For examples</strong><br><br>

									<strong><u>Articles in journals, magazines, and newspapers</u></strong><br><br>

									References to periodical articles must include the following elements: author(s), date of publication, article title, journal title, volume number, issue number (if applicable), and page numbers.<br><br>

									<u>Journal article (one author)</u><br><br>

									Ku, G. (2008). Learning to de-escalate: The effects of regret in escalation of commitment. Organizational Behavior and Human Decision Processes, 105(2), 221-232.<br><br>

									<u>Journal article, more authors,</u><br><br>

									Van Vugt, M., Hogan, R., & Kaiser, R. B. (2008). Leadership, followership, and evolution: Some lessons from the past. American Psychologist, 63(3), 182-196.<br><br>

									<strong><u>Books</u></strong><br><br>

									References to an entire book must include the following elements: author(s) or editor(s), date of publication, title, place of publication, and the name of the publisher.<br><br>

									<strong><u>Essays or chapters in edited books</u></strong><br><br>

									Hammond, K. R., & Adelman, L. (1986). Science, values, and human judgment. In H. R. Arkes & K. R. Hammond (Eds.), Judgement and decision making: An interdisciplinary reader (pp. 127-143). Cambridge, England: Cambridge University Press.<br><br>

									<strong><u>Encyclopedias or dictionaries and entries in an encyclopedia</u></strong><br><br>

									Sadie, S., & Tyrrell, J. (Eds.). (2002). The new Grove dictionary of music and musicians (2nd ed., Vols. 1-29). New York, NY: Grove.<br><br>

									<u>Article from an online encyclopedia</u><br><br>



									Containerization. (2008). In Encyclopædia Britannica. Retrieved May 6, 2008, from http://search.eb.com<br><br>

									<strong>Publication Ethics</strong>

									When an author submits a manuscript to for publication consideration, he or she agrees to abide by publication requirements of Scholars Middle East Publishers.<br><br>

									•              Agree that his or her manuscript presents work that is original, not plagiarized; that he or she has not submitted the manuscript under review for publication elsewhere; and that he or she will not submit the manuscript under review to another publication during the review period.<br><br>

									•              Take full responsibility for the work he or she submits to and publishes with the Scholars Middle East Publishers.

								</p>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'index/footer.html' %}
</nav>
</body>
</html>