{% load static %}
<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

<!--Stylesheets-->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="{% static 'css/hover.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bulma-carousel.min.css' %}"/>

<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/bulma-carousel.min.js' %}"></script>
<script src="https://kit.fontawesome.com/3d4a04bbba.js" crossorigin="anonymous"></script>