{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Journals - Scholars Middle East Publishers</title>
	{% include 'index/includes.html' %}
	<style type="text/css">
		.grid-container {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-gap: 10px;
		}
		.grid-container > div {
			border-radius: 5px;
		}
		@media only screen and (max-width: 600px) {
			.grid-container {
				display: grid;
				grid-template-columns: auto;
				grip-gap:10px;
			}
		}
	</style>
</head>

<body>
	<div class="has-padding-bottom-100" >
		{% include 'index/header.html' %}
		<div>
			<img src='{% static "media/journal-banner.jpg" %}' style='width:100% !important'>
		</div>
		<!--Main Content-->
		<div class='container has-margin-top-50'>
			<div class='columns'>
				<div class='column is-3'>
					{% include 'index/right-bar.html' %}
				</div>

				<div class='column'>
					<section class="has-padding-20">
						<div class="columns is-multiline">
							{% if journals %}
							{% for journal in journals %}
							<div class='column is-4'>
								<a class='has-text-dark' href="{% url  'journal_details' url=journal.journal_url %}">
									<div class='journal-card'  style='background-color: white'>
										<figure class="image">
											<img src = "{{ journal.journal_thumb.url }}"  style="max-width:128px; height:200px;margin:auto">
										</figure><br>
										<p class='has-text-centered'>{{journal.journal_name}}</p>
									</div>
								</a>
							</div>
							{% endfor %}
							{% else %}
							<p class="is-size-5 has-text-danger">No Journals yet, But keep tuned in..</p>
							{% endif %}
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>
	<!--FOOTER-->
	{% include 'index/footer.html' %}

</body>
</html>