{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Publication Ethics - Scholars Middle East Publishers</title>
	{% include 'index/includes.html' %}
</head>
<body>
	<div class="has-padding-bottom-100" >
		<!--HEADER-->
		{% include 'index/header.html' %}
		<div style='background-color: #353b48;padding-top: 50px'>
			<div class='container'>
				<p class='has-text-light is-size-2' style='border-bottom:5px solid #e67e22'>Publication Ethics</p>
			</div>
		</div>
		<div class='container has-margin-top-50'>
			<div class='columns'>
				<div class='column is-9'>
					<section class="container has-padding-40 is-block has-background-white ">
						<div class="container" >
							<p>

								<strong>Authorship</strong><br>

								Authorship should be limited to people who have contributed substantially to the work. The corresponding author must have obtained permission from all the authors mentioned in the manuscript. The corresponding author is responsible for ensuring adherence to all editorial and submission policies and for any communications and actions that may be necessary after publication. A maximum of two corresponding authors are allowed for the responsibilities associated.

								<br><br>

								<strong>Conflict of Interest</strong><br>

								The authors must declare any conflict of interest with any financial body or funding agency or anything else that might influence the results or interpretation of their manuscript. All authors, members, reviewers and editors must disclose any association that poses a conflict of interest in connection with the manuscript. The author(s) ought to hold obligation in giving conflicts any to stay away from further conflicts<br><br>

								

								<strong>Plagiarism and duplicate submission</strong><br>

								Plagiarism is duplicating the precise of publishing information. SAR Publication cross checks each submitted manuscript that is been submitted to any of its associate publishing journal. Any article that has incompletely/totally with plagiarized information will be dismissed promptly.<br><br>

								Manuscripts submitted to SAR Publication journals should not have been published before and not concurrently be submitted elsewhere.  If duplicate submission is detected during peer review, the manuscript may be rejected. If it is detected after publication, the manuscript may be retracted.<br><br>


								<strong>Open Access Policy</strong><br>

								SAR Journal provides immediate open access to its content on making freely available to the global exchange of knowledge in non-commercial purpose. Manuscripts are published under the CC-BY-NC license, which allows the manuscript to be freely shared or used, as long as attribution is given for non-commercial purpose. Authors can freely to post the published manuscript on personal websites, institutional repositories, and any other database.<br><br>



								<strong>Privacy Protection: </strong><br>

								Editor(s), Reviewer(s) should be consciously taking care of the work of the author(s). Editor(s) and Reviewer(s) should not utilize/disperse the unpublished work.<br><br>

								<strong>Human and Animal Rights: </strong><br>

								Clear proclamations and ethical clearance statements should be provided while submitting article if it requires. The work including animal models and human volunteers need to submit the essential proclamations. <br><br>

							</p>
						</div>
					</section>
				</div>
				<div class='column'>
					{% include 'index/right-bar.html' %}
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'index/footer.html' %}
</nav>
</body>
</html>